@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Newsreader:wght@200&family=Poppins:wght@300;400;700&display=swap');

.about{
    /* border: 2px solid white; */
    color: #FFFFFF99;
    font-weight: bold;
    text-align: right;
    width: 100%;
    height: 50rem;
    position: relative;
}
.about h1{
    position: absolute;
    top: -10rem;
    right: 1rem;
    opacity: 0.1;
    font-family: 'Poppins', sans-serif;
    font-size: 11rem;
    z-index: 0;
}

.details{
    position: absolute;
    top: 2.5rem;
    right:2rem;
    /* border: 2px solid white; */
    width: 30rem;
    height: 45rem;
    text-align: left;
}


.details h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 3rem;
    margin-right: 7rem;
    margin-bottom: 0;
}

.details h3{
    text-align: left;
    color: #8c8c8c;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1rem;
} 

.details a{
    text-decoration: none;
    color:#2f89fc;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
} 

.details ul{
    /* border: 2px solid white; */
    list-style: none;
    color:aliceblue;
    display: flex;
    flex-direction : row;
    justify-content : flex-start;
    align-items : center;
    height: 5rem;
    width: 100%;
    padding: 0;
    
} 

.details li{
    border: 2px solid white;
    /* background-color: #FFFFFF; */
    /* background: url("../../assets/iconfinder_BW_Linkedin_glyph_svg_5305157.png") left 10% top 20%/cover no-repeat border-box ,  #ccc; */
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    overflow: hidden;
   
}

.details li:active,
.details li:hover,
.details li:focus{
    animation: getclose 200ms ease-out 2;
    cursor: pointer;
}


.linkedin{
    background: url("../../assets/iconfinder_BW_Linkedin_glyph_svg_5305157.png") left 10% top 20%/cover no-repeat border-box ,  #FFFFFF;
    margin-right: 1rem;
}

.facebook{
    background: url("../../assets/iconfinder_BW_Facebook_glyph_svg_5305154.png") left 10% top 20%/cover no-repeat border-box ,  #FFFFFF;
    margin: 1rem;
}

.instagram{
    background: url("../../assets/iconfinder_Instagram_glyph_svg_5335781.png") left 10% top 20%/cover no-repeat border-box ,  #FFFFFF;
    margin: 1rem;
}

.details h5{
    line-height: 1.5;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    margin:0;
    margin-bottom:1rem;
}

.details h4{
    line-height: 1.5;
    color: #8c8c8c;
    font-size: 1.25rem;
    font-weight: 400;
    margin:0;
    margin-bottom:1rem;
}

.details p{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1rem;
    color:#2f89fc;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
}

.image{
    /* border: 2px solid white; */
    position: absolute;
    top: 2.5rem;
    left:5rem; 
    width: 23rem;
    height: 36rem;
    background: url("../../assets/likhan_image.jpg") center/cover no-repeat border-box ,  #FFFFFF;
    animation: photo-appear 1s ease-out forwards;
}



@media (max-width: 40rem){
    .about h1{
        position: absolute;
        /* transform: rotateX(90deg); */
        top: -5rem;
        right: 0;
        font-size: 6rem;
    }

    .details{
        position: static;
        width: 100%;
        /* border: 2px solid white; */
            /* width: 30rem;
            height: 45rem;
            text-align: left; */
    }

    .details h2{
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 1px;
        width: 100%;
        
    }

    .details h3{
        /* border: 2px solid white; */
        padding: 0;
        margin: 0 auto;
        margin-top: 2rem;
        font-size: 1rem;
        width: 20rem;
        height: 25rem;
        text-align: center;
    } 

    .details a{
        margin-left: 1rem;
    } 

    .details ul{
        margin-left: 1rem;
    }

    .details h5{
        margin-left: 1rem;
    }

    .details h4{
        margin-left: 1rem;
    }
    
    .image{
        /* border: 2px solid white; */
        display:none;
    }
    
}
@keyframes getclose {
    0% {
        transform: translateY(0rem);
     }
        25% {
            transform: translateY(-0.5rem);
        }
        50% {
            transform: translateY(-1rem); 
        }
        75% {
            transform: translateY(-1.1rem);
        }
        100% {
            transform: translateY(-00.5rem);
        }
      }

      @keyframes photo-appear {
        0% {
          opacity: 0;
          transform: translateY(3rem);
        }
      
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    
