@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Newsreader:wght@200&family=Poppins:wght@300;700&display=swap');

.headerDiv{
    background: transparent;
    display : flex;
    flex-direction : row;
    flex-wrap : nowrap;
    justify-content : space-between;
    align-items: center;
}

.nameTag{
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content : space-between;
    align-items: center;
    width: 18rem;
    margin: 1rem;
}


.nameTag:hover{
    cursor: pointer;
}

.imageHeader{
    background: url("../../assets/likhan_image.jpg") center/cover no-repeat border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nameTag h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
    margin-right: 5rem;
}


.toggleButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    margin-right: 2rem;
  }

  .toggleButton:hover,
  .toggleButton:focus {
    animation: getclose 1s ease-out 1 forwards;
  }
  
  .toggleButton span {
    width: 2.8rem;
    height: 0.15rem;
    background: #fff;
    display: block;
    margin: 0.29rem auto;
  }

  @media (max-width: 40rem) {
    .headerDiv{
        flex-direction : row-reverse;
        flex-wrap : nowrap;
        justify-content : space-between;
        align-items: center;
        margin-top: 1rem;
    }
    
    .nameTag{
        color: white;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content : space-between;
        align-items: center;
        width: auto;
        margin-right: 1rem;
    }
    .nameTag h1{
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;
        font-weight: 200;
        margin: 0;
        margin-right: 1rem;
        padding: 0;
    }
    
}

  @keyframes getclose {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
  }
