@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Newsreader:wght@200&family=Poppins:wght@300;400;700&display=swap');

.WorkExp{
    color: #FFFFFF99;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: right;
    width: 100%;
    height: 50rem;
    position: relative;
    overflow: hidden;
    margin-top: 15rem;
}

.WorkExp h1{
    position: absolute;
    top: -3rem;
    right: 1rem;
    opacity: 0.1;
    font-family: 'Poppins', sans-serif;
    font-size: 11rem;
    z-index: 0;
    margin: 0;
}



.workplacedetails {
    color: #FFFFFF;
    text-align: center;
    justify-items: middle;
    height: 9rem;
}

.workplacedetails h3{
    color: #FFFFFF99;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 4px;
    margin: 0;
    
}

.workplacedetails h4{
    color: #FFFFFF99;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 4px;
    margin: 0;
    
}

 .workplacedetails h2{
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 0;
 }

.workplaceitem{
    margin-top: 7rem;
    height: 30rem;
    text-align: left;
    justify-items: middle;
    
}

.wiprologo{
    width: 8rem;
    height: 8rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: url("../../assets/wipro-limited-vector-logo.svg") center/cover no-repeat border-box ,  #FFFFFF;
}

.workplaceitem h2{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    margin: 1rem;
    display: inline-block;
    vertical-align: middle;
    
}

.workplaceitem ul{
    margin: 2rem;
}

.workplaceitem li{
    margin: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}