.appContainer {
  background-color: #121212;
  box-sizing: border-box;
}

.app {
  background-color: transparent;
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content : center;
    align-items : center; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button {
  background: transparent;
  border: 2px solid white;
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
}

.button:hover,
.button:active {
  background: #2f89fc;
  cursor: pointer;
  outline: none;
}

.buttonimage {
  color: white;
}

@media (max-width: 48rem) {
  .app {
    background-color: transparent;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .button {
    margin: auto;
  }
}
