.appContainer {
  background-color: #121212;
  box-sizing: border-box;
}

.app {
  background-color: transparent;
  width: 80%;
  margin: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content : center;
    align-items : center; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button {
  background: transparent;
  border: 2px solid white;
  width: 5rem;
  height: 2rem;
  border-radius: 15px;
}

.button:hover,
.button:active {
  background: #808080;
  border: none;
  cursor: pointer;
  outline: none;
}

.buttonimage {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(117, 117, 119, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 48rem) {
  .app {
    background-color: transparent;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .button {
    margin: auto;
  }
}

@media (max-width: 24rem) {
  .button {
    margin-top: 1rem;
  }
}
